/* ----------- Header -------------- */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(14, 14, 14);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
}

/* Logo */
.logo_header {
    width: 10%;
    min-width: 130px;
    max-width: 220px;
    margin-left: 2%;
}

.logo_header img {
    width: 100%;
}

/* Links del Nav */
.nav_links {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav_links li {
    list-style: none;
    margin-left: 10%;
}

.nav_links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 400;
}

/* Dropdown */
.dropbtn {
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(14, 14, 14);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 30px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Ingreso y lenguaje */
.ingreso_nav .primero {
    border-right: 1px solid white;
    padding: 5px 10px;
    margin-right: 9px;
}

.ingreso_nav {
    min-width: 152px;
}

.ingreso {
    display: flex;
    align-items: center;
    width: 16%;
    min-width: 205px;
    justify-content: space-around;
}

.ingreso a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 400;
}

button {
    background-color: transparent;
    border: none;
    margin-left: 30px;
}

#lenguaje{
    filter: invert(0);
    width: 40px;
}

#toggle_lenguaje{
    margin-left: 0;
}

/* =========================================*/

/* Menú hamburguesa y su contenido */
.burger {
    display: none;
    cursor: pointer;
    height: 51px;
    width: 51px;
    margin-right: 2%;
}

.burger img{
    height: 100%;
    width: 100%;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.7s ease;
}

.menu.open {
    display: block;
    transform: translateX(0); /* El menú se desliza desde la derecha */
}

.menu ul {
    padding: 20px;
}

.menu ul li {
    list-style: none;
    margin: 15px 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

/* Fondo oscuro cuando el menú se abre */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

/* Cerrar el menú */
.burger-close {
    font-size: 2em;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu_toggle{
    display: none;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1010px) {
    nav{
        height:77px;
    }

    .nav_links {
        display: none; /* Ocultamos el menú de navegación en pantallas pequeñas */
    }

    .burger {
        display: block; /* Mostramos el icono de menú */
    }

    .ingreso {
        display: none;
    }

    .menu_toggle{
        display: none;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #0e0e0e;

    }

    .menu_toggle.open {
        display: block;
        transform: translateX(0); /* Aparece en pantalla */
    }

    .menu_toggle_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 5px 20px 30px;
    }

   

    .menu_toggle_header #lenguaje_burguer{
        height: 40px;
        width: 40px;
        margin-right: 10px;
        
    }

    .menu_toggle_header #close_img{
        height: 70px;
        width: 70px;
        margin-right: 10px;
        filter: invert(1);
    }

    .nav_links_burguer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-decoration: none;
        color: white;
        margin-top: 50px;
        margin-right: 50px;
    }

    .nav_links_burguer li{
        list-style: none;
        margin: 20px;
    }

    .nav_links_burguer a{
        text-decoration: none;
        color: white;
    }

    .productos_burguer{
        margin-left: 10px;
    }

    .nav_links_burguer .registro_burguer{
        margin-top: 100px;
    }


}

@media (max-width: 500px) {
    .nav_links_burguer a{
        font-size: 0.9em;
    }
    .nav_links_burguer{
        align-items: center;
    }

    .menu_toggle_header{
        height: 50px;
    }

    .menu_toggle_header #close_img{
        height: 25px;
        width: 25px;
    }

    .menu_toggle_header #lenguaje_burguer{
        height: 35px;
        width: 35px;
    }
}


/* --------- Footer -------- */

footer{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

footer .wrapper{
    background-color: rgb(14, 14, 14);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    
}

.seccion_1{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.seccion_1 img{
    height: 140px;
    filter: invert(1);
}

.seccion_1 a{
    background-color: rgb(244, 177, 14);
    border-radius: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 35px;
    border-radius:35px ;
    transition: 0.5s;
}

.seccion_1 a img{
   height: 50px;
   width: 50px;
   filter: invert(0);
   transition: 0.5s;
}

.seccion_1 a:hover img{
    height: 50px;
    filter: invert(1);
 }

 .seccion_1 a:hover{
    background-color: rgb(167, 122, 8);
 }


.seccion_2{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto_footer_boton{
    background-color: rgb(244, 177, 14);
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    padding: 8px 15px;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: 0.5s;

}

#contacto_footer_boton img{
    height: 20px;
    filter: invert(0);
    transition: 0.5s;
}

#contacto_footer_boton:hover img{
    transform: translate(10px, 0%) ;
}

#contacto_footer_boton:hover{
    background-color: rgb(167, 122, 8);
    color: white;
}



.footer_contacto a{
    color: rgb(14, 14, 14);
    margin: 10px;

}

.footer_contacto div a:first-child{
    margin-left: 25px;
}


.footer_contacto a img{
    height: 30px;
    filter: invert(1);
}



.footer_navegabilidad{
    display: flex;
}
.footer_navegabilidad li{
    list-style: none;
    margin: 25px;
}

.footer_navegabilidad a{
    text-decoration: none;
    color: rgb(248, 247, 247);
    margin:20px 0;
    font-size: 1.2em;
}


footer .wrapper p{
    color: rgb(248, 247, 247);
    margin: 10px auto;
}


#linkedin{
    display: none;
}
/* MEDIAQUERYS */

@media (max-width: 600px) {
    .seccion_1 a{
        width: 30px;
        height: 30px;
    }

    .seccion_1 img{
       
        height: 100px;
    }
    .seccion_1 a img{
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 600px) {

    .seccion_1 img{
        height: 70px;
    }

    .seccion_2{
        font-size: 0.8em;
    }
    
}